<%- include('../layouts/header') %>



<div class=" m-5  d-flex justify-content-center">
    <div class="card">
        <div class="card-body py-5 px-md-5">
            <form id="submit-form"  action="" method="post" enctype="multipart/form-data">
                <h2>Add new user</h2><br>
            
                <div class="row">
                    <div class="form-outline mb-4">
                        <div class="form-outline">
                            <label class="form-label" for="form3Example1">Name</label>
                            <input id="name" type="text" name="name"  class="form-control" />
                            <div class="error"></div>

                        </div>
                    </div>

                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3">Email address</label>
                    <input  id="email" type="email" name="email" class="form-control" />
                    <div class="error"></div>

                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3">Mobile</label>
                    <input id="number" type="text" name="mno" class="form-control" />
                    <div class="error"></div>

                </div>


             
                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4">Profile image</label>
                    <input type="file" name="image" class="form-control" />


                </div>
                

                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4">Password</label>
                    <input id="password" type="password" name="password"  class="form-control" />
                    <div class="error"></div>

                </div>





                <% if(typeof message !=='undefined' ){ %>
                    <p style="color: green;">
                        <%=message%>
                    </p>
                    <% } %>

                        <input type="submit" value=" Add User" class="btn btn-primary btn-block mb-4">
                           
                
                
                        <div class="text-center">
                            <p>
                                Go back <a href="/admin/dashboard">home</a></p>
                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </button>

                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-google"></i>
                            </button>

                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-twitter"></i>
                            </button>

                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-github"></i>
                            </button>
                        </div>
            </form>
        </div>
    </div>
</div>



<%- include('../layouts/footer.ejs') %>